.App {
  font-family: sans-serif;
  text-align: center;
  flex-direction: column;
}

.list-container {
  height: 75vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.list-container .list {
  overflow-y: auto;
}

.input {
  height: 100px;
}

.remove-button {
  height: 40px;
  padding: 16px;
  margin: 10px;
  border: none;
  color: #fff;
  border-radius: 10px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
